@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About US</h1>
    <br>
    <p class="Description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dicta debitis deleniti animi odit assumenda earum distinctio voluptatem natus delectus similique autem sed, accusantium numquam? Quas fugit itaque nemo obcaecati? Atque eos aperiam, maxime labore quae delectus consequuntur 
        a eveniet explicabo nisi quasi. Illo est, mollitia nostrum autem assumenda id?</p>
    <br>
    <hr>
    
    <a href="" class="btn btn-primary">Contact us</a>
</div>
